
<div class="container ">
  <form class="contact-form" action='/contact' method="POST">
    <fieldset class="get-name">
      <legend>Send a Message!</legend>
      <label>
        <input id="firstName" type="text" name="firstName">
        <span>First</span>
      </label>
      <label>
        <input id="lastName" type="text" name="lastName">
        <span>Last</span>
      </label>
      <div class="row">
        <label class="col l10">
          <input  id="emailAdd" type="email" name="emailAdd">
          <span class="emailTag">Email Address</span>
        </label>

        <label class="col l10">
          <p>Leave a lovely message below!</p>
          <textarea id="contactMessage" name="contactMessage"></textarea>
        </label>

        <button class="btn blue lighten-3">Send</button>
      </div>

    </fieldset>

  </form>
</div>
