
<!DOCTYPE html>
<html lang="en">
<head>
  <% include head.ejs%>
</head>

<body>
  <header class="layoutHeader">
    <h1 class="container"><%= headerH1 %></h1>
  </header>
  <% include nav.ejs%>

  <%- body %>

  <% include footlink.ejs%>
</body>

</html>
