<nav  class="container pink lighten-2">
  <div class="nav-wrapper">
    <ul id="nav-mobile " class" hide-on-med-and-down">
      <li><a class="pulse" href='/'>Home</a></li>
      <li><a class="pulse" href='/courses'>Courses</a></li>
      <li><a class="pulse" href='/contact'>Contact Us </a></li>
    </ul>
  </div>
</nav>
