
     <% reviews.rev.forEach( function(review) { %>
       <div class="container">
         <p class="reviewItem"><%= review %></p>
       </div>
     <% }); %>

    <div class="container right-align ">
      <div class="backBtn">
        <a class="btn blue lighten-3 " href=<%= '/courses/' + reviews.id %> >Back</a>
      </div>
   </div>
  
